# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages of Data Science
* List commonly used libraries used by Data Scientists
* List of some open source Data Science Tools
* Perform simple arthimetic operations in Python

Some of the popular languages that Data Scientists use are:
1. R
2. C++
3. Java
4. Python

Some of the commonly used libraries used by Data Scientists include:

1. NLTK
2. NumPy
3. Pandas
4. Keras
5. TensorFlow

| Data Science Tools |
|----|
|RStudio|
|Jupyter Lab|
|IBM Watson Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Visali Devi Nerla